Q1

In [26]:
class Car:
  def __init__(self, model, name, year,color, horsepower):
        print("Car created")
        self.model = model
        self.name =  name
        self.year = year
        self.color = color
        self.horsepower = horsepower
  def attributes(self):
        print("The car is", self.model,"Model", self.name,",", self.year,"in",
              self.color,  "with" ,self.horsepower,"hp.")
  def namechange(self, name):
        self.name = name
  def colorchange(self, color):
        self.color = color


c = Car("Tesla", "S", 2012, "Deep Blue Metallic", 503)
c.attributes()
c.namechange("X")
c.attributes()
c.colorchange("Solid Black")
c.attributes()

Car created
The car is Tesla Model S , 2012 in Deep Blue Metallic with 503 hp.
The car is Tesla Model X , 2012 in Deep Blue Metallic with 503 hp.
The car is Tesla Model X , 2012 in Solid Black with 503 hp.

Q2

In [25]:
import random
t1= 'This is the 4th week'
t2=[t1[i:i+3] for i in range(0, len(t1), 3)]
print(t2)
random.shuffle(t2)
separator = ''
print(separator.join(t2))

['Thi', 's i', 's t', 'he ', '4th', ' we', 'ek']
s is t4thhe  weekThi

Q3

In [57]:
class Students:
    def __init__(self, rn, name, grade, phno):
         print("Students created")
         self.rn = rn
         self.name = name
         self.grade = grade
         self.phno = phno 
    
    def data(self):
         print("Roll No:",self.rn,"\nName:", self.name, "\nGrade:",self.grade,"\nPhone No:",self.phno)

In [91]:
 a=Students(101,"Nina","9th",9689446113)  
 a.data()
 b=Students(102,"Kev","10th",9689111113) 
 b.data()

Students created
Roll No: 101
Name: Nina
Grade: 9th
Phone No: 9689446113
Students created
Roll No: 102
Name: Kev
Grade: 10th
Phone No: 9689111113

In [108]:
class Sports(Students):
  def __init__(self,rn, name, grade, phno,sport):
    Students.__init__(self,rn, name, grade, phno)
    self.sport=sport
    self.name=name
  def data(self):
    Students.data(self)
    print("Sport:",self.sport)
  def phchange(self, phno):
        self.phno = phno
  def sportchange(self, sport):
        self.sport = sport 
  def __del__(self):
    print(self.name + " doesn't play sports any more.")

In [109]:
a=Sports(101,"Nina","9th",9689446113,"Tennis")
a.data()
b=Sports(102,"Kev","10th",9689111113,"Football") 
b.data()
a.phchange(9988776655)
print("\n UPDATED")
a.data()
print("\n UPDATED")
b.sportchange("Cricket")
b.data()

Students created
Roll No: 101
Name: Nina
Grade: 9th
Phone No: 9689446113
Sport: Tennis
Students created
Roll No: 102
Name: Kev
Grade: 10th
Phone No: 9689111113
Sport: Football

 UPDATED
Roll No: 101
Name: Nina
Grade: 9th
Phone No: 9988776655
Sport: Tennis

 UPDATED
Roll No: 102
Name: Kev
Grade: 10th
Phone No: 9689111113
Sport: Cricket

Exception ignored in: <function Sports.__del__ at 0x7f3317c8be60>
Traceback (most recent call last):
  File "<ipython-input-102-dc022b3a14d1>", line 13, in __del__
AttributeError: 'Sports' object has no attribute 'Name'

In [110]:
del a

Nina doesn't play sports any more.